<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="bower_components/material-design-lite/material.min.css"/>
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" type="text/css" href="css/login.css">
    <link rel="stylesheet" type="text/css" href="css/home.css">
    <script type="text/javascript" src="bower_components/material-design-lite/material.min.js"></script>
    <title>Git Compare - Login</title>
</head>
<body>
    <div id="app"></div>
</body>
</html>